body{
	margin: 0,
}

#banner1 {
	display: block;
	background-color: #FFE401;
	height: 50px;
	width: 100%;
}
#menu{
	width: 100%;
	height: 100px;
	position: relative;
	background-color: FFBD50;
}
#menu ul {
	float: left;
}
#menu ul li{
	float: left;
	list-style-type: none;
	margin-left: 20px;
}
#menu ul li a {
	texte-decoration: none;
}

#banner2 {
	display: block;
	background-color: #FFE401;
	height: 50px;
	width: 100%;
}