body{
	margin: 0,
}

#banner1 {
	display: block;
	background-color: #FFE401;
	height: 50px;
	width: 100%;
}
#menu{
	width: 100%;
	height: 100px;
	position: relative;
	background-color: 97FF01;
}
#menu ul {
	float: left;
}

#banner2 {
	display: block;
	background-color: #FF5A01;
	height: 50px;
	width: 100%;
}