body{
	margin: 0,
}

#banner1 {
	display: block;
	background-color: #FFE401;
	height: 50px;
	width: 100%;
}

#banner2 {
	display: block;
	background-color: #FF5A01;
	height: 50px;
	width: 100%;
}